{% extends 'admin/base.html' %}

{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    <div class="flex flex-col lg:flex-row lg:gap-8">
        <div class="grow">
            {% include "unfold/components/title.html" with children=_('Editors') class="mb-4" %}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
                {% url 'admin:core_team_changelist' as team_url %}
                {% include "unfold/components/card.html" with href=team_url icon="groups" class="items-center text-center" children=_('Teams') %}

                {% url 'admin:core_conference_changelist' as conf_url %}
                {% include "unfold/components/card.html" with href=conf_url icon="public" class="items-center text-center" children=_('Conferences') %}

                {% url 'admin:core_venue_changelist' as venue_url %}
                {% include "unfold/components/card.html" with href=venue_url icon="stadium" class="items-center text-center" children=_('Venues') %}
            </div>

            {% include "unfold/helpers/app_list_default.html" %}
        </div>

        {% include "unfold/helpers/history.html" %}
    </div>
{% endblock %}
