<!-- Halfmoon CSS Navbar -->
<nav class="navbar navbar-expand-md sticky-top bg-primary text-bg-primary border-bottom border-3 border-danger-subtle shadow mb-3">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'index' %}">CFB Oracle</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler text-light"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-menu"
                aria-controls="navbar-menu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                data-bs-theme="light">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links and content -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <c-nav-link url_name="index">Dashboard</c-nav-link>
                </li>
                <li class="nav-item dropdown">
                    <c-nav-link url_name="rankings"
                                 base_class="nav-link dropdown-toggle"
                                 href="#"
                                 extra_attrs="role='button' data-bs-toggle='dropdown' aria-expanded='false'">Rankings</c-nav-link>
                    <ul class="dropdown-menu dropdown-menu-end mt-md-2 rounded-top-0">
                        <li>
                            <c-nav-link url_name="rankings" classification="fbs" base_class="dropdown-item">FBS</c-nav-link>
                        </li>
                        <li>
                            <c-nav-link url_name="rankings" classification="fcs" base_class="dropdown-item">FCS</c-nav-link>
                        </li>
                        <li>
                            <c-nav-link url_name="rankings" classification="ii" base_class="dropdown-item">Div. II</c-nav-link>
                        </li>
                        <li>
                            <c-nav-link url_name="rankings" classification="iii" base_class="dropdown-item">Div. III</c-nav-link>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
